<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <img src="localhostlogo.png"/>
            <h2>We are the Localhosts!</h2>
            <a href="/surveys" class="btn btn-success btn-sm">
              <i class="fas fa-pencil-alt"></i> Click here to get started</a>
        </div>           
      </div>
    </div>

<% include ../partials/footer.ejs %>


